<!DOCTYPE html>
<html>
    <head>
        <title>{% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
        <style>
            .reviewpost {
                padding: 10px;
                margin: 5px;
                background-color: #f3f3f3
            }
        </style>
    </head>
    <body>
        <div class="container">
           
            {% block body %}
            {% endblock %}
        
            {% if session["logged_in"]==True %}
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        

    </body>
</html>